#game-options-choose-players-3 {
    top: calc(50vh - 210px);
}

.game-options h3 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 35px;
}

.game-options-flipped {
    transform: rotateY(180deg);
}

.btn {
    margin-bottom: 20px;
    width: 200px;
}

.btn-greyedout {
    background: #525e66;
    opacity: 0.5;
    color: white;
    cursor: initial !important;
}

#disabled-button-info {
    color: white;
    font-size: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(50vh + 130px);
}

#activate-btn {
    margin-top: 20px;
}

#username-error {
    background-color: #ea7900;
    border-radius: 5px;
    padding: 3px 10px;
}
