.inactive-username {
    background-color: #ea7900;
    padding: 4px 20px;
    border-radius: 5px;
}

#co-player-info-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: calc(20vw - 55px);
    padding-right: calc(20vw - 55px);
    padding-top: 50px;
}

#co-player-info-wrapper h4 {
    color: white;
    margin-top: 18px;
    text-align: center;
}

.player-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    box-shadow: 20px 20px 32px -18px rgba(0,0,0,0.75);
}

#cards-wrapper-bottom {
    display: flex;
    height: 30vh;
    width: 100vw;
    position: absolute;
    bottom: 0px;
    padding: 0px 50px;
}

.card-cont {
    flex: 1 0 0;
    overflow-x: hidden;
}

.card-cont:last-child {
    flex: 0 0 auto;
}

.tarok-card {
    width: 10vw;
}

.cards-wrapper-sides {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60vh;
    width: 20vw;
    padding: 50px 0px;
}

#cards-wrapper-right {
    right: -60px;
}

#cards-wrapper-left {
    left: -55px;
}

.card-cont-rot90 {
    flex: 1 0 0;
    overflow-x: hidden;
}

.card-cont-rot90:last-child {
    flex: 0 0 auto;
}

.tarok-card-rot90 {
    height: 10vw;
}

#cards-wrapper-talon {
    display: flex;
    height: 30vh;
    width: 30vw;
    position: absolute;
    left: 35vw;
    top: 30vh;
}

#round-options-popup {
    padding: 30px 0px;
    height: 200px;
    justify-content: center;
}

#round-options-popup h3 {
    margin-bottom: 15px;
}

#round-options-popup form {
    margin-bottom: 15px;
}

#round-options-popup form input {
    margin-left: 15px;
}

#choose-game {
    text-align: center;
}

#is-choosing-game {
    display: none;
}

#co-players-choice {
    position: absolute;
    top: -12px;
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 20px 20px 32px -18px rgba(0,0,0);
    font-size: 13px;
}

#co-players-choice p {
    margin: 0;
}
