<!-- File: ./templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="Anja Istenic">
    <meta charset="utf-8">
    <title>TAROK</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="body-wrapper">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
