<!-- File: ./templates/new_game.html -->
<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<head>
    <meta name="description" content="page to choose new game of tarok">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_game.css') }}">
</head>
<body>
    <div class="game-options" id="game-options-new-join">
        <h3>Igraj tarok:</h3>
        {% if current_game %}
            <button type=submit name="submit-button" value=start-game class="btn btn-greyedout"
                    onmouseleave="mouseLeave()">Začni novo igro</button>
            <a href="{{ url_for('routes.play') }}"><button type=submit name="submit-button" value=join-game
                                                           class="btn btn-dark">Pridruži se obstoječi igri</button></a>
        {% else %}
            <button type=submit name="submit-button" value=start-game class="btn btn-dark">Začni novo igro</button>
            <button type=submit name="submit-button" value=join-game class="btn btn-greyedout"
                    onmouseleave="mouseLeave()">Pridruži se obstoječi igri</button>
        {% endif %}
    </div>
    <div id="game-options-3-4" class="game-options game-options-flipped">
        <h3>Izberi igro:</h3>
        <button type=submit name="submit-button" value=3-game class="btn btn-dark">3 igralci</button>
        <button type=submit name="submit-button" value=4-game class="btn btn-greyedout"
                onmouseleave="mouseLeave()">4 igralci</button>
    </div>
    <div id="game-options-choose-players-3" class="game-options game-options-flipped">
        <h3>Vnesi uporabniška imena soigralcev:</h3>
        <form method=post>
            <div class="form-group">
                <label class="form-label">Prvi soigralec*</label>
                <input type=text class="form-control" name=username1 autocomplete="off"
                   value="{{ request.form.username1 }}" required>
            </div>
            <div class="form-group">
                <label class="form-label">Drugi soigralec*</label>
                <input type=text class="form-control" name=username2 autocomplete="off"
                   value="{{ request.form.username2 }}" required>
            </div>
            {% if error %}
            <p class=error>{{ error }}</p>
            {% endif %}
            <button type=submit name="submit-button" value=create-game class="btn btn-dark"
                    id="activate-btn">Aktiviraj igro</button>
        </form>
    </div>
    <p id="disabled-button-info"></p>
    <script type="text/javascript" src="{{ url_for('static', filename='js/new_game.js') }}"></script>
</body>
{% endblock %}
