<!-- File: ./templates/play.html -->
<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<head>
    <meta name="description" content="play page for tarok card game">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
</head>
<body>
<div id="co-player-info-wrapper">
    {% for username, active in co_players.items() %}
        <div>
            <img class=player-image src="https://source.unsplash.com/300x300/?animals" alt="player image">
            <div>
                {% if active %}
                <h4 id="{{ username }}">{{ username }}</h4>
                {% else %}
                <h4 id="{{ username }}" class="inactive-username">Čakamo na {{ username }}</h4>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
    <div id="cards-wrapper-bottom">
        {% for card_name in round_state[player] %}
            {% set img_path = 'img/' ~ card_name ~ '.png' %}
            <div class="card-cont">
                <img class="tarok-card" id="{{ card_name }}" src="{{ url_for('static', filename=img_path) }}"
                     alt="tarok card">
            </div>
        {% endfor %}
    </div>
    <div id="cards-wrapper-right" class="cards-wrapper-sides">
        {% for card in round_state[player] %}
            <div class="card-cont-rot90">
                <img class="tarok-card-rot90" src="{{ url_for('static', filename='img/card-back.png') }}"
                     alt="tarok card">
            </div>
        {% endfor %}
    </div>
    <div id="cards-wrapper-left" class="cards-wrapper-sides">
        {% for card in round_state[player] %}
            <div class="card-cont-rot90">
                <img class="tarok-card-rot90" src="{{ url_for('static', filename='img/card-back.png') }}"
                     alt="tarok card">
            </div>
        {% endfor %}
    </div>
    <div id="cards-wrapper-talon">
        {% for card in round_state['talon'] %}
            <div class="card-cont">
                <img class="tarok-card" src="{{ url_for('static', filename='img/card-back-vertical.png') }}"
                     alt="tarok card">
            </div>
        {% endfor %}
    </div>
    <meta id="current-user" content="{{ player }}">
    <meta id="player-order" content="{{ player_order }}">
    <meta id="choose-game-player-order" content="{{ choose_game_player_order }}">
    <div id="round-options-popup" class="game-options">
        <div id="choose-game">
            <h3>Izberi igro:</h3>
            <form id="round-options-form">
                <input type="radio" id="three" name="game-opt" value="3">
                <label for="three">tri</label>
                <input type="radio" id="two" name="game-opt" value="2">
                <label for="two">dve</label>
                <input type="radio" id="one" name="game-opt" value="1">
                <label for="one">ena</label>
                <input type="radio" id="pass" name="game-opt" value="pass">
                <label for="pass">naprej</label>
            </form>
            <button type=submit name="submit-button" id="round-options-btn" class="btn btn-dark">Potrdi</button>
        </div>
        <div id="is-choosing-game">
            <h3>co-player is choosing game</h3>
        </div>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/play.js') }}"></script>
</body>
{% endblock %}
