<!-- File: ./templates/play.html -->
<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<head>
    <meta name="description" content="play page for tarok card game">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
</head>
<body>
<div id="co-player-info-wrapper">
    {% for username, active in co_players.items() %}
        <div>
            <img class=player-image src="https://source.unsplash.com/300x300/?animals" alt="player image">
            <div>
                {% if active %}
                <h4 id="{{ username }}">{{ username }}</h4>
                {% else %}
                <h4 id="{{ username }}" class="inactive-username">Čakamo na {{ username }}</h4>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
    <div id="cards-wrapper-bottom">
        {% for card_name in round_state[player] %}
            {% set img_path = 'img/' ~ card_name ~ '.png' %}
            {% set user_card_bg_id = 'user-card-bg-' ~ loop.index %}
            {% set user_card_id = 'user-card-' ~ loop.index %}
            <div class="card-cont" id="{{ user_card_bg_id }}">
                <img class="tarok-card" id="{{ user_card_id }}" src="{{ url_for('static', filename=img_path) }}"
                     alt="tarok card">
            </div>
        {% endfor %}
    </div>
    <div id="cards-wrapper-right" class="cards-wrapper-sides">
        {% for card in round_state[player] %}
            <div class="card-cont-rot90">
                <img class="tarok-card-rot90" src="{{ url_for('static', filename='img/card-back.png') }}"
                     alt="tarok card">
            </div>
        {% endfor %}
    </div>
    <div id="cards-wrapper-left" class="cards-wrapper-sides">
        {% for card in round_state[player] %}
            <div class="card-cont-rot90">
                <img class="tarok-card-rot90" src="{{ url_for('static', filename='img/card-back.png') }}"
                     alt="tarok card">
            </div>
        {% endfor %}
    </div>
    <div class="cards-wrapper-talon" id="talon-back">
        {% for card in round_state['talon'] %}
            <div class="card-cont">
                <img class="tarok-card" src="{{ url_for('static', filename='img/card-back-vertical.png') }}"
                     alt="tarok card">
            </div>
        {% endfor %}
    </div>
    <div id="talon-front">
        <div id="talon-info-wrapper">
            <p id="talon-info"></p>
            <button class="btn btn-greyedout" id="confirm-btn">Potrdi izbiro</button>
        </div>
        <div id="talon-front-cards" class="cards-wrapper-talon">
            {% for card in round_state['talon'] %}
                {% set talon_card_bg_id = 'talon-card-bg-' ~ loop.index %}
                {% set talon_card_img_id = 'talon-card-img-' ~ loop.index %}
                {% set img_path = 'img/' ~ card ~ '.png' %}
                <div class="card-cont" id="{{ talon_card_bg_id }}">
                    <img class="tarok-card" id="{{ talon_card_img_id }}" src="{{ url_for('static', filename=img_path) }}"
                         alt="tarok card">
                </div>
            {% endfor %}
        </div>
    </div>
    <meta id="base-url-for-img" content="{{ url_for('static', filename='img/') }}">
    <meta id="current-user" content="{{ player }}">
    <meta id="player-to-choose" content="{{ player_to_choose }}">
    <meta id="player-to-choose-opts" content="{{ player_to_choose_opts }}">
    <meta id="game-id" content="{{ game_id }}">
    <meta id="called" content="{{ called }}">
    <div id="round-options-popup" class="game-options">
        <div id="co-players-choice">
            {% for username, active in co_players.items() %}
                <p id="{{ username }}-choice">-</p>
            {% endfor %}
        </div>
        <div id="choose-game">
            <h3>Izberi igro:</h3>
            <form id="round-options-form">
                <input type="radio" id="three" name="game-opt" value="three">
                <label for="three">tri</label>
                <input type="radio" id="two" name="game-opt" value="two">
                <label for="two">dve</label>
                <input type="radio" id="one" name="game-opt" value="one">
                <label for="one">ena</label>
                <input type="radio" id="pass" name="game-opt" value="pass">
                <label for="pass">naprej</label>
            </form>
            <button type=submit name="submit-button" id="round-options-btn" class="btn btn-dark">Potrdi</button>
        </div>
        <div id="is-choosing-game">
            <h3>co-player is choosing game</h3>
        </div>
    </div>
    <div class="game-options" id="call-round-attributes">
        <h3>Kaj za napovedati?</h3>
        <form id="call-round-attributes-form">
            <input type="checkbox" id="trula" value="trula">
            <label for="trula">trula</label>
            <input type="checkbox" id="pagat" value="pagat">
            <label for="pagat">pagat ultimo</label>
            <input type="checkbox" id="kings" value="kings">
            <label for="kings">vsi štirje kralji</label>
            </br>
            <input type="checkbox" id="valat" value="valat">
            <label for="valat">valat</label>
            <input type="checkbox" id="no-calls" value="pass">
            <label for="no-calls">brez napovedi</label>
        </form>
        <button type=submit name="submit-button" id="call-round-attributes-btn" class="btn btn-greyedout">
            Potrdi
        </button>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/play_choose_game.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/play_talon.js') }}"></script>
</body>
{% endblock %}
