<!-- File: ./templates/play.html -->
<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

{% if inactive_players %}
    {% set inactive_style = "" %}
{% else %}
    {% set inactive_style = "display:none;" %}
{% endif %}

<head>
    <meta name="description" content="play page for tarok card game">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
</head>
<body>
    <div id="inactive-players" style="{{ inactive_style }}">
        {% for player in inactive_players %}
            <p>Čakamo na igralca: {{ player }}</p>
        {% endfor %}
    </div>
    <div id="co-player-info-wrapper">
        <div>
            <h4>Player 2</h4>
            <img class=player-image src="https://source.unsplash.com/500x500/?animals" alt="player2 image">
        </div>
        <div>
            <h4>Player 1</h4>
            <img class=player-image src="https://source.unsplash.com/500x500/?animal" alt="player1 image">
        </div>
    </div>
    <div id="cards-wrapper">
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/pagat.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/pagat.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/pagat.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/pagat.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/pagat.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/pagat.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/XXI.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/XXI.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/XXI.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/XXI.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/XXI.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/skis.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/skis.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/skis.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/skis.png') }}" alt="tarok card">
        </div>
        <div class="card-cont">
            <img class="tarok-card" src="{{ url_for('static', filename='img/skis.png') }}" alt="tarok card">
        </div>
</div>
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/play.js') }}"></script>
</body>
{% endblock %}
